# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock
package-lock.json

# Diretórios de compilação/build
/dist
/dist-ssr
/build

# Arquivos locais específicos de ambiente
.env
.env.local
.env.*.local

# Cache e arquivos gerados pelo editor
.vite/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Arquivos de log
logs
*.log